body{
	background-image: url(Images/AboutBG.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	color: orange;
	text-align: center;
	font-size: 20px;
}

h1{
	font-size: 80px; 
	color: red;
}